{% extends 'base.html' %}
{% block title_html %} Categorias {% endblock title_html %}
{% block encabezado %} Lista de Categorias {% endblock encabezado %}
{% block contenido %}
<p><a href="nueva">Nueva categoria</a></p>
    <table>
    {% for categoria in categorias %}
        <tr><td>{{ forloop.counter }}</td><td>{{ categoria.nombre }}</td><td><a href="editar/{{ categoria.id }}">Editar</a></td></tr>
    {% empty %}
         <tr><td>No hay categorias registradas</td></tr>
    {% endfor %}
    </table>
{% endblock contenido %}