<ul>
	<li>{{resolucion.codigo_resolucion}}</li>
	<li>{{resolucion.fecha_emision}}</li>
	<li>{{resolucion.asunto}}</li>
	<li>{{resolucion.instancia}}</li>
	<li>{{resolucion.categoria}}</li>
	<li>{{resolucion.facultad}}</li>
</ul>
<p>Interesados: </p>
<ul>
	{% for persona in resolucion.interesado.all %}
	<li>{{ persona }}</li>
	{% empty %}
	<li>La resolución aún no tiene interesados registrados.</li>
	{% endfor %}
</ul>
<p><a href='editar'>Editar resolución</span></a></p>
<p><a href='agregar/interesado'>Agregar<span>Interesados</span></a></p>
<p><a href='quitar/interesado'>Quitar<span>Interesados</span></a></p>
<p><a href='/resoluciones'>Lista de resoluciones</span></a></p>