{% extends 'base.html' %}
 {% block js %}
 <script type="text/javascript">
 $(function(){
        $('.menu_inicio').attr('class', 'menu_inicio active');
    });
    </script>
{% endblock js %}
{% block title_html %} Sistema de registro de resoluciones {% endblock title_html %}
{% block contenido %}
    <div class="hero-unit">
        <h1>Sistema de registro de resoluciones</h1>
        <p>Registra y busca resoluciones de secretaría general de la Universidad Nacional del Centro del Perú. Esta versión Beta tiene las funcionalidades básicas.</p>
        <p>
            <a class='btn btn-large btn-primary' href="/resoluciones"><i class="icon-plus icon-white"></i> Nuevas Resoluciones</span></a>
            <a class='btn btn-large btn-success' href='/buscar'><i class="icon-search icon-white"></i> Buscar Resoluciones</a>
        </p>
    </div>
{% endblock contenido %}