{% extends 'base.html' %}
{% block encabezado %} Sistema de registro de resoluciones {% endblock encabezado %}
{% block contenido %}
    <div>
        <a href='/resoluciones/nueva'>Registrar<span>Nuevas resoluciones</span></a>
        <a href="/resoluciones">Buscar<span>Resoluciones registradas</span></a>
        <a href="/instancias">Gestionar Instancias</a>
        <a href="/categorias">Gestionar Categorias</a>
        <a href="/facultades">Gestionar Facultades</a>
        <a href="/interesados">Gestionar Interesados</a>
    </div>
{% endblock contenido %}