<table>
    <thead>
        <tr><th>#</th><th>Nombre</th><th></th></tr>
    </thead>
    <tbody>
        {% for interesado in interesados  %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ interesado.nombre }}</td>
            <td> <a href="editar/{{ interesado.pk }}">Editar</a> </td>
        </tr>
        {% empty %}
            <tr><td colspan='3'>No hay interesados registrados</td></tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr><th>#</th><th>Nombre</th><th></th></tr>
    </tfoot>
</table>
    