{% extends "base.html" %}
{% block title_html %} Agregar una nueva resolución {% endblock title_html %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flick/jquery-ui-1.9.0.custom.min.css" media="all">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.9.0.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.datepicker-es.js"></script>
    <script type="text/javascript">
    $(function(){
        $('.menu_nueva').attr('class', 'menu_nueva active');
    });
    </script>
{% endblock js %}
{% block encabezado %} Agregar una nueva resolución {% endblock encabezado %}
{% block contenido %}
<div class="span12 well">
    <form class='form-horizontal formulario_gestion' method='post'>{% csrf_token %}
        <div class="control-group">
            {{form}}
            <p>
                <input class='btn btn-success' type='submit' value='Enviar'>
                <a class='btn btn-danger' href="/resoluciones">Cancelar</a>
            </p>
        </div>
    </form> 
</div>
{% endblock contenido %}
