{% extends 'base.html' %}
{% block title_html %} Remover interesados {% endblock title_html %}
{% block encabezado %} Remover interesados <a class='btn btn-success' href="/resolucion/{{resolucion.id}}">Volver a la resolucion</a>{% endblock encabezado %}
{% block contenido %}
<div class="span12">
    <ul>
        {% for persona in resolucion.interesado.all %}
        <li>{{ persona }} <a class='btn btn-mini btn-danger' href='confirmar/{{persona.pk}}'>Quitar</a></li>
        {% empty %}
        <li>No hay interesados registrados</li>
        {% endfor %}    
    </ul>
</div>

{% endblock contenido %}