{% extends 'base.html' %}
{% block title_html %} Resoluciones {% endblock title_html %}
{% block encabezado %} Lista de resoluciones {% endblock encabezado %}
{% block contenido %}
<div class="pagination">
    <span class="step-links">
        <a href="?page= 1">Primera</a>
        {% if resoluciones.has_previous %}
            <a href="?page={{ resoluciones.previous_page_number }}">Previo</a>
        {% endif %}

        <span class="current">
            Página {{ resoluciones.number }} de {{ resoluciones.paginator.num_pages }}.
        </span>

        {% if resoluciones.has_next %}
            <a href="?page={{ resoluciones.next_page_number }}">Siguiente</a>
        {% endif %}
        <a href="?page={{ resoluciones.paginator.num_pages }}">Última</a>
        <a href='/resoluciones/nueva'>Nueva resolución</span></a>
    </span>
</div>
<table>
	<tr><th>Código de resolución</th><th>Asunto</th><th>Fecha de emisión</th>
{% for resolucion in resoluciones %}
	<tr>
		<td>{{ resolucion.codigo_resolucion }}</td>
		<td>{{ resolucion.asunto }}</td> 
		<td>{{ resolucion.fecha_emision }}</td>
		<td><a href='/resolucion/{{ resolucion.id }}'>Ver detalles</a></td>
	</tr>
{% empty %}
	<tr><th>No hay resoluciones registradas.</th></tr>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        <a href="?page= 1">Primera</a>
        {% if resoluciones.has_previous %}
            <a href="?page={{ resoluciones.previous_page_number }}">Previo</a>
        {% endif %}

        <span class="current">
            Página {{ resoluciones.number }} de {{ resoluciones.paginator.num_pages }}.
        </span>

        {% if resoluciones.has_next %}
            <a href="?page={{ resoluciones.next_page_number }}">Siguiente</a>
        {% endif %}
        <a href="?page={{ resoluciones.paginator.num_pages }}">Última</a>
    </span>
</div>
{% endblock contenido %}